{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    // [
    //   "import",
    //   {
    //     "libraryName": "antd",
    //     "style": "css" // `style: true` 会加载 less 文件
    //   }
    // ],
    [
      "module-resolver",
      {
        "root": ["./pages"],
        "alias": {
          "@": "./pages",
          "@server": "./.next/production-server"
        },
        "extensions": [".ts", ".tsx"]
      }
    ]
  ]
}
